<section>
    <h1>Runa A. Sandvik</h1>
    <p>Passionate about all things Internet security, online anonymity,
    privacy, and travel, works for the <a
        href="https://www.torproject.org">Tor Project</a>.</p>
</section> 

<section>
    <h1>Media</h1>
    <p>A list of articles, interviews, and talks, can be found on the <a
        href="http://encrypted.cc/media.html">media</a> page.</p>
</section>    

<section>
    <h1>Contact</h1>
    <p>runa.sandvik@gmail.com<br/>
    runa@torproject.org<br/>
    <a href="http://encrypted.cc/gpg.asc">GPG 0x792FB138</a></p>
</section>
